<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
<%- include('../includes/navbar.ejs') %>
<div class="wrapper">
    <div class="form-card">
        <h2 style="color: rgb(128, 170, 44);">Add New Product</h2>
        <form method="post" action="/admin/add-product">
            <div class="form-group">
                <input type="text" name="title" placeholder="Title" required>
            </div>
            <div class="form-group">
                <input type="number" name="price" placeholder="Price" required>
            </div>
            <div class="form-group">
                <textarea name="description" placeholder="Product Description" required></textarea>
            </div>
            <div class="form-group">
                <button type="submit" style="color:yellowgreen">Add Product</button>
            </div>
        </form>
    </div>
    </div>
<%- include('../includes/end.ejs') %>