<footer class="footer">
  <p>&copy; 2024 MyWebsite. All Rights Reserved.</p>
  <div class="social-icons">
    <a href="#"><img src="/images/facebook-icon.png" alt="Facebook"></a>
    <a href="#"><img src="/images/twitter-icon.png" alt="Twitter"></a>
    <a href="#"><img src="/images/instagram-icon.png" alt="Instagram"></a>
  </div>
</footer>
