   <header>
      <nav>
        <ul>
          <li><a href="/" class="{{#if activeShop }}active {{/if}}">Shop</a></li>
          <li><a href="/admin/add-product" class="{{#if activeProduct }}active {{/if}}">Add Product</a></li>
        </ul>
      </nav>
    </header>