<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{docTitle}}</title>
    <link rel="stylesheet" href="/css/main.css" />
    {{#if shopCss}}
        <link rel="stylesheet" href="/css/card.css" />
    {{/if}}

    {{#if productCss}}
       <link rel="stylesheet" href="/css/product.css" />
    {{/if}}
    

  </head>

  <body>
    {{!-- syntax used to add partials --}}
    {{> header}} 
    {{! all content of other pages will be load here }}
    {{{body}}}
  </body>
</html>