<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/404.css">
    <title><%= docTitle %></title>
    
</head>

<body>
    <div class="container">
        <h1>404</h1>
        <p>Oops! The page you are looking for cannot be found.</p>
        <a href="/" title="Return to Home">Return to Home</a>
    </div>
</body>

</html>
