extends layouts/main-layout.pug
block styles
  link(rel="stylesheet" href="/css/about.css")
block content
  .about-container
    h1 About Us
    p 
      | We are a team of dedicated professionals committed to delivering high-quality products and services. Our mission is to provide exceptional value and support to our customers.
    .team-section
      h2 Our Team
      .team-members
        .team-member
          img(src="https://www.shutterstock.com/image-photo/happy-mature-male-business-leader-600nw-2118840614.jpg" alt="Team Member 1")
          h3 John Doe
          p CEO & Founder
        .team-member
          img(src="https://www.shutterstock.com/image-photo/happy-mature-male-business-leader-600nw-2118840614.jpg" alt="Team Member 2")
          h3 Jane Smith
          p Chief Technology Officer
        .team-member
          img(src="https://www.shutterstock.com/image-photo/happy-mature-male-business-leader-600nw-2118840614.jpg" alt="Team Member 3")
          h3 Emily Johnson
          p Lead Developer
    .contact-info
      h2 Contact Us
      p 
        | If you have any questions or inquiries, feel free to reach out to us.
      ul
        li
          strong Email: 
          | info@company.com
        li
          strong Phone: 
          | (123) 456-7890
