
    <div class="form-container">
        <div>Title</div>
        <form method="post" action="/admin/add-product">
            <input type="text" name="title" placeholder="Product Name" />
            <input type="submit" value="Submit" />
        </form>
    </div>
 