// header.pug
header
  nav
    ul
      li
        a(href="/",class=(path==='/'? 'active' :'')) Shop
      li
        a(href="/admin/add-product",class=(path==='/admin/add-product' ? 'active' :'')) Add Product
      li
        a(href="/about",class=(path==='/about'? 'active' :'')) About
