
    <main>
        <h1>Products</h1>
    </main>

<div class="product-grid">
{{#if hasProdcuts }}
{{#each products}}
  <div class="product-card">
    <div class="product-image">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2kjiAPB0HjVXFTmD-uKxcphqm_qN3P2UC4g&s" alt="Product Image">
    </div>
    <div class="product-details">
      <h2 class="product-name">{{this.title}}</h2>
      <p class="product-description">Garnier Pure Active Micellar Cleansing Water, 125 ml</p>
      <p class="product-price">$60</p>
      <div class="product-rating">
        <span>★★★★★</span>
      </div>
      <button class="add-to-cart">Add to Cart</button>
    </div>
  </div>
{{/each}}
{{else}}
    <h2>Product Not Found</h2>
{{/if}}
 

  

 